{% extends 'base.html' %} 
{% block title %}Adminka - Update User: {{user.get_full_name}}{% endblock %} 
{% block content %}
<main class="my-5 container">
    {% include 'includes/breadcrumbs/update-breadcrumb.html' with model=user name="User" %}
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <h1 class="h3">General info</h1>
        <form method="post" id="model" enctype=multipart/form-data>
          {% csrf_token %}
            {{form}}
            {% if user.avatar %}
            <div>
                <p class="mb-0">{{user.get_full_name}}'s current avatar</p>
                <img
                    src="{{user.avatar.url}}"
                    alt="{{user.get_full_name}}'s avatar"
                    height="400px"
                    width="400px"
                    class="border rounded-3"
                />
            </div>
            {% endif %}
        </form>
    </div>
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <div class="d-flex justify-content-between">
            <h2 class="fs-3 fw-bold text-center">Groups</h2>
            <a href="{% url 'update-user-groups' user.id %}" class="btn btn-warning"
                >Update</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <th scope="row">
                        {{group.id}}
                    </th>
                    <td>
                        {{group.name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
