{% extends 'base.html' %}
{% load spurl%}
{% block title %}Adminka - Users{% endblock %}
{% block content %}
<main class="my-5 container">
    {% include 'includes/filter.html' with model="user"%}
    <div class="p-4 shadow-lg mt-5 rounded-3">
        <div class="d-flex justify-content-between">
            <h1 class="fs-3 fw-bold text-center">Users</h1>
            <a href="{% url 'create-user' %}" class="text-primary"
                ><i class="fa-solid fa-circle-plus fs-1"></i
            ></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Last Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                 <tr>
                    <th scope="row"> <a href="{% url 'view-user' user.id %}">{{user.id}}</a> </th>
                    <td><a href="{% url 'view-user' user.id %}">{{user.get_full_name}}</a> </td>
                    <td>{{user.email}}</td>
                    <td>{{user.last_activity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'includes/pagination.html' with objects=users%}
    </div>
</main>
{% endblock  %}

