{% extends 'base.html' %} 
{% block title %}Adminka - User:{{user.get_full_name}}{% endblock %} 
{% block content %}
<main class="my-5 container">
    <div class="rounded-3 p-3 my-5 shadow-lg d-flex justify-content-between">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'view-users'%}">Users</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{user.get_full_name}} (ID:{{user.id}})
                </li>
            </ol>
        </nav>
        <div>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-confirm"
                >Delete
            </button>
            <a href="{% url 'update-user' user.id %}" class="btn btn-warning">Update</a>
        </div>
    </div>
    
    <div class="modal fade" id="delete-confirm" tabindex="-1" aria-labelledby="delete-confirm-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="delete-confirm-label">Delete {{user.get_full_name}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete <span class="fw-bold">{{user.get_full_name}}</span>?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            <a href="{% url 'delete-user' user.id%}" type="button" class="btn btn-danger">Delete</a>
        </div>
        </div>
    </div>
    </div>

    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <h1 class="h3">General info</h1>
        <div class="mb-3">
            <label for="name" class="form-label">Full name</label>
            <input
                type="text"
                class="form-control"
                id="name"
                value="{{user.get_full_name}}"
                disabled
            />
        </div>
        <div class="mb-3">
            <label for="mail" class="form-label">Email</label>
            <input
                type="email"
                class="form-control"
                id="mail"
                value="{{user.email}}"
                disabled
            />
        </div>
        <div class="mb-3">
            <label for="joined" class="form-label">Date joined</label>
            <input
                type="date"
                class="form-control"
                id="joined"
                value="{{user.date_joined|date:'Y-m-d'}}"
                disabled
            />
        </div>
        {% if user.avatar %}
        <div>
            <p>{{user.get_full_name}}'s avatar</p>
            <img
                src="{{user.avatar.url}}"
                alt="{{user.get_full_name}}'s avatar"
                height="400px"
                width="400px"
                class="border rounded-3"
            />
        </div>
        {% endif %}
        
    </div>
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <div class="d-flex justify-content-between">
            <h2 class="fs-3 fw-bold text-center">Groups</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <th scope="row">
                        {{group.id}}
                    </th>
                    <td>
                        {{group.name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
