{% extends 'base.html' %} 
{% block title %}Adminka - Update Group: {{group.name}}{% endblock %} 
{% block content %}
<main class="my-5 container">
    {% include 'includes/breadcrumbs/update-breadcrumb.html' with model=group name="Group" %}
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <h1 class="h3">General info</h1>
        <form method="post" id="model">
          {% csrf_token %}
            {{form}}
        </div>
        </form>
    </div>
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <div class="d-flex justify-content-between">
            <h2 class="fs-3 fw-bold text-center">Permissions</h2>
            <a href="{% url 'update-group-permissions' group.id %}" class="btn btn-warning"
                >Update</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for permission in permissions %}
                <tr>
                    <th scope="row">
                        {{permission.id}}
                    </th>
                    <td>
                        {{permission.name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
