{% extends 'base.html' %} 
{% block title %}Adminka - Update Product: {{product.name}}{% endblock %} 
{% block content %}
<main class="my-5 container">
    {% include 'includes/breadcrumbs/update-breadcrumb.html' with model=product name="Product" %}
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <h1 class="h3">General info</h1>
        <form method="post" id="model">
          {% csrf_token %}
            {{form}}
        </div>
        </form>
    </div>
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <h2 class="h3">{{product.name}}'s images</h2>
        <form method="post" id="images" enctype=multipart/form-data>
          {% csrf_token %}
            <div class="d-flex mt-3">
            {% if images %}
                {% for image in images %} 
                <div class="me-2 d-block" >
                    <img src="{{image.image.url }}" alt="{{product.name}}'s image" width="250px" height="250px" class="object-fit-cover rounded-3 border">
                    <a href="{% url 'delete-product-image' product.id image.id %}" class="btn btn-danger">Remove</a>
                </div>
                {% endfor %}
            {%endif%}
            </div>
            {{image_form}}
            <input type="submit" value="Confirm Changes" class="btn btn-success mb-0 mt-3" form="images">
        </form>
    </div>
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <div class="d-flex justify-content-between">
            <h2 class="fs-3 fw-bold text-center">Tags</h2>
            <a href="{% url 'update-product-tags' product.id %}" class="btn btn-warning"
                >Update</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <th scope="row">
                        {{tag.id}}
                    </th>
                    <td>
                        {{tag.name}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
