<div class="p-4 shadow-lg rounded-3">
    <form method="get">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for field in filter.form %}
        <div class="col-12 col-md-6 col-lg-4">
            {{field.label}}
            {{ field }}
        </div>
        {% endfor %}
        </div>
        <div class="row mt-3">
            <a
                href="{% url 'view-'|add:model|add:'s' %}"
                class="btn btn-danger col me-3"
                >Reset</a
            >
            <input
                type="submit"
                value="Apply"
                class="btn btn-primary col ms-2"
            />
        </div>
    </form>
</div>
