{% load spurl%}

<nav class="d-flex justify-content-center">
    <ul class="pagination mb-0 mt-2">
        {% if objects.has_previous %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% spurl query=request.GET set_query='page={{objects.previous_page_number}}'%}"
                >Previous</a
            >
        </li>
        {% endif %} {% for num in objects.paginator.page_range %}

        <li class="page-item">
            <a
                class="page-link {% if num == objects.number %} active {% endif %}"
                href="{% spurl query=request.GET set_query='page={{num}}'%}"
                >{{num}}</a
            >
        </li>
        {% endfor %} {% if objects.has_next %}
        <li class="page-item">
            <a
                class="page-link"
                href="{% spurl query=request.GET set_query='page={{objects.next_page_number}}' %}"
                >Next</a
            >
        </li>
        {% endif %}
    </ul>
</nav>