<div class="rounded-3 p-3 my-5 shadow-lg d-block d-md-flex justify-content-between">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="{% url 'view-'|add:name|add:'s'|lower %}">{{name}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Create
                </li>
            </ol>
        </nav>
        <div class="align-items-center row mt-2 mt-md-0">
            <a href="{% url 'view-'|add:name|add:'s'|lower %}" class="btn btn-primary col me-2"
                >Go Back</a>
            <input type="submit" value="Create new {{name|lower}}" class="btn btn-success col" form="model">
        </div>
    </div>