{% extends 'base.html' %} {%block title %} Adminka {% endblock %} {%block content%}
<main class="mt-5 container">
    <div class="p-3 shadow-lg rounded-3 bg-warning mb-5">
        <ul class="mb-0">
            <li class="fw-bold mb-0">Text goes here</li>
        </ul>
    </div>

    <div class="p-4 shadow-lg rounded-3">
        <h1 class="h4 text-center mb-0">Administration</h1>
        <p class="fs-6">Good morning, Username</p>
        <h2 class="h4">Quick Actions</h2>
        <ul class="mb-0">
            <li>
                <a href="#" class="text-black">Active Appeals</a>
            </li>
            <!-- дальше по правам список -->
        </ul>
    </div>
</main>

{%endblock%}
