{% extends 'base.html' %} 
{% block title %}Adminka - Update Notification: {{notification}}{% endblock %} 
{% block content %}
<main class="my-5 container">
    {% include 'includes/breadcrumbs/update-breadcrumb.html' with model=notification name="Notification" %}
    <div class="rounded-3 p-3 mb-5 shadow-lg">
        <h1 class="h3">General info</h1>
        <form method="post" id="model">
          {% csrf_token %}
            {{form}}
        </div>
        </form>
    </div>
</main>
{% endblock %}
